<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>sweet-material-table Demo</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="sweet-material-table-custom-table-cells-demo.html">
  <link rel="import" href="../../paper-styles/paper-styles.html">

  <style is="custom-style">
    body {
      font-family: 'Roboto', 'Noto', sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 24px;
      background-color: var(--paper-grey-50);
    }
  </style>


</head>
<body>

<sweet-material-table-custom-table-cells-demo></sweet-material-table-custom-table-cells-demo>

</body>
</html>
